body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #ffffff;
  border-radius: 5px;
  width: 798px;
  padding: 20px 27px 12px;
  box-sizing: border-box;
  margin-bottom: 37px;
  margin-top: 24px;
}

.title {
  color: #ff6a28;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.sub-title {
  margin-top: 8px;
  font-size: 16px;
  color: #61656d;
  font-weight: 400;
}

.image {
  margin-top: 14px;
}

.mini-boxes {
  display: flex;
  justify-content: space-between;
}

.info-box {
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 118px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;
}

.info-box-image {
  margin-bottom: 4.86px;
  align-items: center;
}

.info-box-text {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
  line-height: 16.41px;
  font-weight: 400;
}

.info-box-photo {
  margin-top: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 238px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-info-box {
  margin: 12px 0px 13px 19px;
}

.info-box-text-photo {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26px 19px 27px 11px;
  margin-bottom: 27px;
  line-height: 16.41px;
}

.ingredients-box,
.prep-box,
.adcional-info-box {
  background-color: #ffffff;
  border-radius: 5px;
  width: 798px;
  padding-top: 20px;
  padding-left: 27px;
  padding-right: 26px;
  padding-bottom: 12px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.ingredients-title, .prep-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

.prep, .ingredients {
  margin-left: 8px ;
}
